[2018-09-11 17:44] athos-ribeiro opened #2 "Handling external dependencies"
As pointed in PR #1, there are external dependencies, such as pdftk, which is not readily available in some linux distributions.

I do enjoy the way this package works to build PC sheets, bit I myself cannot use it in my Fedora machine. I did get to build my sheet with docker though, using the following Dockerfile:

[code]

Now, when I wnt to extract the sheet, I can just use `docker cp`. To updat

[2018-09-12 18:01] canismarko commented on #2
Yeah I agree. The biggest obstacle was that the WotC template for character sheets makes use of fillable fields in the PDF; I couldn't find a python library that supported this feature. If anyone knows of anything, the [https://github.com/canismarko/dungeon-sheets/blob/master/dungeonsheets/make_sheets.py#L275](make_pdf()) function could be modified without too much trouble.

As far as making the s

[2018-10-13 17:29] michaelplews opened #3 "Bold subject titles in Features and Traits?"
It would be nice to be able to scan the Features & Traits for the titles for quick referencing

[2018-10-13 21:36] michaelplews opened #4 "Command line utility on Ubuntu 18.04.1 LTS not working"
installing with pip causes all commands to return 'not found'. Can still be run through `python3 make_sheets.py character.py`

[2018-10-14 19:17] canismarko commented on #3
Agreed. I looked in to this, and it sounds like you need to set the ``rich text`` flag on the fields in the PDF, which is not enabled in the fillable PDF provided by WotC. I'm hoping to find a way to directly fill the fields in python without having to rely on pdftk as an external dependency, which would take care of issue https://github.com/canismarko/dungeon-sheets/issues/2, and so maybe this fe

[2018-10-17 07:57] canismarko commented on #2
I partly solved the dependency on pdftk in https://github.com/canismarko/dungeon-sheets/commit/3368a435cb4b35b7b94ffc40583628182bf605f3. It now uses the pdfrw package as a fallback if pdftk is no available.  There are some limitations, though, as outlined in the README:

- Produces v1.3 PDF files
- Not able to flatten PDF forms
- Will produce separate character-sheets, spell-lists and spell-books.

[2018-10-17 09:40] athos-ribeiro commented on #2
Wow!

Thanks for the changes :) I will test and provide feedback asap.

[2018-10-20 05:51] canismarko opened #5 "Dwarf hit point bonus doesn't get added"
Creating a level 1 Hill Dwarf (druid in this case) doesn't add the +1 hit point bonus this race receives.

[2019-01-24 16:33] TLATER opened #15 ""Sorceror"s should be "sorcerer"s"
["Sorcerer"](https://www.merriam-webster.com/dictionary/sorcerer) is spelled wrong consistently.

[2019-02-16 02:10] bitsandbooks opened #17 "create-character errors out at end"
I set up a venv and installed dungeonsheets. I ran through the `create-character` utility and when I got to the end, instead of writing out my character.py file, I got the following error:

    Traceback (most recent call last):
      File "/usr/local/bin/create-character", line 10, in <module>
        sys.exit(main())
      File "/usr/local/lib/python3.7/site-packages/dungeonsheets/create_charact

[2019-02-16 18:50] #15 closed

[2019-02-22 22:22] threesleepingcows opened #19 "Missing druid template"
Cannot create druids since the `druid_shapes_template.tex` file is missing.
[code]
[code]

[2019-04-24 02:31] jacobdmoore commented on #17
Getting the same issue.

[2019-06-12 16:16] johncalab opened #22 "disguise self"
I seem to bump into a bug when adding the 'Mask of Many Faces' warlock invocation. It times out on me.

Same thing happens if I try and add the disguise self spell directly.

[2019-08-12 18:34] geckon opened #25 "create-character fails if no armor option is selected"
[code]

Either selecting one option (e.g. "no armor") should be enforced, or one of the options should be made default, or at least this should fail gracefully.

[2019-08-12 18:35] geckon opened #26 "create-character: typo ("featurs") makes it fail"
[code]

[2019-08-12 18:39] geckon opened #27 "numpy is required but not listed as a dependency"
...and not automatically installed by pip when installing dungeonsheets.

[2019-08-12 19:53] geckon opened #29 "Tabaxi have Claws duplicated as a weapon"
When a Tabaxi character is generated using `create-character`, the `weapons` line in the Python file looks e.g. like this:
[code]
And this is the respective section in the PDF:
![screenshot_2019-08-12_2150_21:50RRR](https://user-images.githubusercontent.com/120788/62893622-52bfa900-bd4b-11e9-9baf-74faaac1aae1.png)

After editing the Python file to this:
[code]
the PDF still contains the Claws in t

[2019-08-13 18:54] jeromkiller opened #30 "No DeathDomain, No MonsterRaces from volos guide"
I tried the tool for the first time yesterday, but i noticed the death domain for cleric isn't present,
and neither are the monster races from volo's guide,

[2020-01-05 14:37] pbatroff opened #33 "unicode characters create errors with pdflatex"
When creating the wizard spellbook example sheet, pdflatex crashes because of unicode special characters in the python classes.

Reproduction:
`makesheets wizard1.py` - errors are in Teleport spell, when calling pdflatex manually:

`pdflatex --output-directory $HOME/Documents/src/dungeon-sheets/examples wizard1_spellbook.tex`

Versions:
[code]
Running under Linux.

All but two characters are speci

[2020-01-05 22:23] pbatroff commented on #33
The above checkin fixes the compile problem, but messes a little bit with some design (e.g. Teleport). But compiling seems to run proper now for me.

[2020-01-27 19:51] pbatroff opened #37 "Armor wrongly calculated"
Armor is wrongly calculated when Dex modifier is negative and Heavy Armor is worn. On page 145 PHB it says:

This can be reproduced by creating a character with negative dex and a heavy armor.

[2020-03-17 08:17] naviabbot opened #38 "Many Sources Missing"

[2020-04-15 19:29] geckon commented on #26
Fixed by #23

[2020-04-15 19:29] #26 closed

[2020-04-15 19:34] geckon opened #41 "Pearl of Power, Cloak of Protection missing"
These two magic items are missing and I kinda could use them so I'm adding them :)

[2020-04-16 15:51] canismarko commented on #41
Fixed in 6e522fe7f187a47b6f91b0737993d1bb8f5c68f3

[2020-04-16 15:51] #41 closed

[2020-04-16 15:53] canismarko commented on #33
I think this has been fixed now with d7737042afb702c06824651eef48c2cb38403e3d and 1186fe7323c77a2c45a823ff999ba72b5d17e710 so I'm closing this issue.

If you run into more problems feel free to re-open.

[2020-04-16 15:53] #33 closed

[2020-04-16 15:56] canismarko commented on #2
Since there's been no comments in over a year, I'm assuming the fix is acceptable.

[2020-04-16 15:56] #2 closed

[2020-04-25 22:44] geckon opened #43 "Inappropriate usage of "is not""
There is a couple of cases of inappropriate usage of `is not` operator - e.g.:
[code]

[2020-04-25 22:45] geckon commented on #43
`!=` makes much more sense in cases like this when one is comparing strings.

[2020-04-25 22:49] geckon commented on #43
This may actually fix also issue #25

[2020-04-25 22:56] geckon opened #45 "Maybe a new release?"
Hi @canismarko, do you by any chance plan to release a new version? Right now `pip install dungeonsheets` will get me version 0.9.4 released in last May and with that I won't get some pretty useful fixes made recently.

I mean, I know how to install and use the version from current master but it would make things easier.

Also, support for Python 3.8 would be awesome declared in the classifiers!

[2020-04-25 22:57] geckon opened #46 "Purpose of parse_json.py?"
Hi what is the purpose of `parse_json.py`?

First of all, it uses an absolute path apparently only valid on @canismarko's computer:
[code]

Also, there is a syntax error in the regex there:
[code]

[2020-04-25 23:28] geckon opened #48 "Duplicated racial and class-based skills"
I can see this while creating a kenku monk:
![Screenshot from 2020-04-26 01-26-49](https://user-images.githubusercontent.com/120788/80293158-21fa9500-875d-11ea-8f44-ed51b123a485.png)

I suppose the duplication comes from the fact that it's listed lower case in race and upper case in class, e.g. acrobatics v. Acrobatics. But that remains to be confirmed.

[2020-04-28 17:19] canismarko commented on #43
I agree. Should be testing equality (!=) instead of identity (is not), at least in the example you provided. Feel free to submit a PR.

[2020-04-28 17:22] canismarko commented on #46
I'm guessing this is a remnant from when I first started making this thing, maybe I found a json file with all the spells so I used that instead of the proper spells.py file, or else I thought it made sense to store all the spells, etc, as json files instead of python.

[2020-04-28 17:24] #43 closed

[2020-04-28 17:54] canismarko commented on #45
Hi, @geckon.

Good idea. I'd like to get through that back log of PRs first, though. I'm down to 3-4 left so I'll get a new release out once those are done.

[2020-04-28 20:32] geckon commented on #45
Great, thanks!

[2020-04-28 20:34] geckon commented on #46
In that case, do you want to remove it? I'd be happy to prepare a PR for this.

[2020-04-28 20:51] geckon commented on #22
This seems to work for me but I kind of remember that there used to be an issue with this spell. Maybe it has been fixed? Could you please try again if it is still an issue? Thanks!

[2020-04-29 21:42] geckon opened #49 "Why is Human race missing?"
I can only see this:

![Screenshot from 2020-04-29 23-37-04](https://user-images.githubusercontent.com/120788/80649755-f1736d80-8a72-11ea-9ba7-8be2a0886e16.png)

Why is Human race missing? I mean from the sources I know that Rashemi is the same but what is the reason behind this? Thanks a lot in advance!

[2020-04-30 03:10] #30 closed

[2020-04-30 04:33] #19 closed

[2020-04-30 04:33] canismarko commented on #4
I'm assuming this is fixed. Closing this issue.

[2020-04-30 04:33] #4 closed

[2020-04-30 05:23] canismarko commented on #45
v0.10.0: fcef8ed0b676fb84a34bfe5cac3931a458235244

Also uploaded to pypi.

[2020-04-30 05:23] #45 closed

[2020-04-30 05:32] canismarko commented on #46
Fixed: 82ae4dd63e19045884c55be6c0b2a41975f2ff56

[2020-04-30 05:32] #46 closed

[2020-04-30 08:06] geckon commented on #45
Thanks a lot!

[2020-04-30 20:46] geckon opened #50 "Can't run make_sheets.py directly"
There are relative imports and maybe other issues. I'm willing to fix it.

@canismarko I have two questions.
- Are you against me removing relative imports in the whole project if possible? They can be a bit messy sometimes.
- Are you against me moving the two _runnables_ (`create_character.py` and `make_sheets.py`) into the top project directory which is a bit more common alignment?

Thanks for y

[2020-04-30 20:47] geckon opened #51 "Most of the feats are missing"
I'll go ahead and add them.

[2020-04-30 23:01] geckon commented on #51
See PR #52

[2020-04-30 23:06] geckon opened #53 "Unnecessary dashes"
There is a lot of words like `Du-elists` or `darkvi-sion` probably due to copy-and-pasting. Let me fix that ;)

[2020-04-30 23:59] geckon opened #55 "Add more Fighter options"
Like fighting styles from UA...

[2020-05-01 00:20] geckon commented on #55
PR #56

[2020-05-01 14:14] rkubosz opened #58 "Remove transparency of unprepared spells"
What if we make unprepared spells also solid black as prepared spells?

I play in dnd campaigns as wizard and druid and I found a slight inconvenience. I have a list of known spells and prepared spells. Prepared spells are behaving as I want: spells are printed solid black and marked as prepared on character sheet.
The problem occurs with unprepared spells. These spells are listed and unmarked on

[2020-05-01 15:37] #53 closed

[2020-05-01 15:37] canismarko commented on #53
That's exactly where it comes from. Thanks for cleaning that up.

[2020-05-01 15:46] canismarko commented on #49
Yeah you're right, it should be available even though Rashemi is a human subrace.

Fixed ac921308ffeacceb858560112f92367960088672

[2020-05-01 15:46] #49 closed

[2020-05-01 16:24] canismarko commented on #50
When you say directly, you mean using ``python make_sheets.py`` or something like that, right?

1. Fine with me. I only ask that all the tests still pass, and that the entry_points still run.
2. I like the idea of not having them in the package directory, but how about making a *run/* directory in the root of the repo and putting them in there? I just noticed that the root directory is getting a l

[2020-05-01 16:25] canismarko opened #63 "Remove cruft from the root repository directory"
People have added a bunch of stray files that aren't really essential for the project. Some of them should be moved to the *examples/* folder, while other can maybe be removed.

[2020-05-01 16:26] canismarko commented on #63
I'd also like to get rid of the example PDFs (keep the source .py files) since they're generated files and not source files.

[2020-05-01 16:27] canismarko commented on #51
Thanks @geckon, I'll take at the PR soon.

On Thu, Apr 30, 2020 at 04:01:33PM -0700, Tomáš Heger wrote:

--

This message is signed with Pretty Good Privacy (PGP) key BE1E3158.

http://pool.sks-keyservers.net/pks/lookup?op=get&search=0x457826FCBE1E3158

[2020-05-01 16:44] canismarko commented on #58
Yeah I can see that being annoying.

I'd prefer something like your second idea of having it be an option in the character python file, though I'd also rather limit the .py files to descriptions of the character itself, not preferences for how the sheets are rendered.

How about adding a command line option to *make_sheets.py* that changes the color. Maybe ``--unprepared-spell-color=grey`` and ``-

[2020-05-01 21:49] geckon commented on #58
My 2 cents:

I agree that having spells greyed out makes them unreadable sometimes. I personally would prefer to have all spells in black and track those that are prepared separately (e.g. marking them myself with a pencil). Having unprepared spells readable is also useful for deciding which spells I want to prepare.

An option would be ok, although I'd probably not go for `-u` since that is too u

[2020-05-01 21:51] geckon commented on #63
Oh yes please. Do you want me to do it?

[2020-05-01 21:56] geckon commented on #50
Exactly.

Sure.

I'd say that two executables would be fine in the root dir but I see your point. How about `bin/` though? I know python executables aren't binaries per se but `bin` seems to be a sort of a standard.

[2020-05-02 02:07] #58 closed

[2020-05-02 02:08] canismarko commented on #58
Well it would be ``--unprepared-spell-color=grey`` with a short ``-u`` option as well.

Maybe it's better to just make them all the same color for now, and then find a way to indicate which, if any, are prepared, with an asterisk or something. That way, the use of prepared spells is optional.

I'm still working on this open PR (https://github.com/canismarko/dungeon-sheets/pull/18) to use a D&D the

[2020-05-02 15:53] canismarko commented on #63
No thanks. I'd like to do it for some cleaning therapy. =)

On Fri, May 01, 2020 at 02:51:14PM -0700, Tomáš Heger wrote:

--

This message is signed with Pretty Good Privacy (PGP) key BE1E3158.

http://pool.sks-keyservers.net/pks/lookup?op=get&search=0x457826FCBE1E3158

[2020-05-02 15:54] canismarko commented on #50
Oh yeah, bin/ sounds better. Let's do that.

On Fri, May 01, 2020 at 02:57:12PM -0700, Tomáš Heger wrote:

--

This message is signed with Pretty Good Privacy (PGP) key BE1E3158.

http://pool.sks-keyservers.net/pks/lookup?op=get&search=0x457826FCBE1E3158

[2020-05-04 04:49] canismarko commented on #63
22c3e4dbeb1928645430c85ed99edcc25de7d0bd

[2020-05-04 04:49] #63 closed

[2020-05-04 21:21] geckon commented on #50
It seems that with setuptools' `entry_points` the scripts need to be a part of a package (and it's probably not a good idea to create a package called `bin`). Maybe I'm missing something but is there another way?

If that's the case we might need to keep it as is, maybe with minimal changes. Unless you'd be willing to switch e.g. to `poetry` which should be able to get us what we want. I use it in

[2020-05-05 14:40] canismarko commented on #50
I'm not aware of another way to make entry_points with
setuptools.

I've never needed to run *make_sheets.py* directly so I don't really
have a horse in that race. So far you're the only one that's mentioned
it and you already know where the script lives so I'd prefer to leave
the structure as is and just fix the relative imports, etc.

On Mon, May 04, 2020 at 02:21:49PM -0700, Tomáš Heger wrote:

[2020-05-05 21:03] geckon commented on #50
This absolutely makes sense. I added PR for this.

[2020-05-06 20:16] #55 closed

[2020-05-06 20:17] #51 closed

[2020-05-06 20:22] canismarko commented on #50
Thanks for fixing all those relative imports (and for putting standard library imports are the top).

[2020-05-06 20:22] #50 closed

[2020-05-07 02:01] #27 closed

[2020-05-11 17:14] canismarko opened #66 "Write some tests for the create_character.py module"

[2020-05-14 17:01] canismarko opened #70 "Add capability to rst_to_latex parser"
The [rst_to_latex](https://github.com/canismarko/dungeon-sheets/blob/a3bf048e7090fe6791c63e08c82d0a9c955a00c1/dungeonsheets/make_sheets.py#L33) function takes reStructured text and converts it to LaTeX. Currently, it only supports some reST features, which means the LaTeX output is poorly formatted. We should expand the features that get parsed so the spell/etc. descriptions are more readable.

-

[2020-05-14 17:14] canismarko commented on #70
Headings added in a3bf048e7090fe6791c63e08c82d0a9c955a00c1

[2020-05-19 21:43] canismarko commented on #70
Bullet lists added in 6a23931e4076c6bd85d5ff7a30e5b0988de22ac7

[2020-06-12 13:22] DanRoscigno opened #73 "Cannot include the dndbook class"
I tried adding `-F` on the commandline to include the dndbook class (as documented in the README) and got an error telling me that there is no such arg.
`If you have to excellent dndbook LaTeX template, consider using the -F option to include this template for rendering spellbooks, druid wild forms and features pages`

I am using release 0.10.1

Thanks so much for dungeon-sheets, it is really help

[2020-06-12 19:13] canismarko commented on #73
You're welcome, glad you find it useful.

I'm a little miffed about this error. I'm using the argparse package from standard lib, so recognizing options should be pretty robust. Would you mind pasting the output from ``makesheets -h``?

[2020-06-12 20:06] DanRoscigno commented on #73
I think that the version in master was not included in the May 4th release.  I compared the code installed with master and the processing of `-F` is not there.  I also downloaded the release zip and looked at the code, it is not in the zip file.

Here is the -h output:
[code]

[2020-06-12 20:09] DanRoscigno commented on #73
which makes sense, the latest release was on 4 May, and you merged the commit on 6 May:

![image](https://user-images.githubusercontent.com/25182304/84542219-fb6dca80-acc6-11ea-8ed7-fc8ede95bd62.png)

I will try to run master.

[2020-06-12 20:16] DanRoscigno commented on #73
Sorry for the drama!  I installed master and all is well!
[code]

![image](https://user-images.githubusercontent.com/25182304/84542750-168d0a00-acc8-11ea-91ac-a13c122b4fdf.png)

[2020-06-12 20:17] #73 closed

[2020-06-16 16:08] canismarko opened #75 "Remove external dependcy on pdftk"
Currently, filling in the PDF forms is done using pdftk. It would be nice if we could remove this dependency and use only pypi packages. This issue in the PyPDF2 package my help with this: https://github.com/mstamy2/PyPDF2/issues/355#issuecomment-644629188

[2020-06-20 13:29] jeromkiller opened #76 "goblin race defined twice"
https://github.com/canismarko/dungeon-sheets/blob/f8cab809f5c39115baae6812b94d384fa547b988/dungeonsheets/race.py#L443

https://github.com/canismarko/dungeon-sheets/blob/f8cab809f5c39115baae6812b94d384fa547b988/dungeonsheets/race.py#L497

pretty sure one can just be removed

[2020-07-09 12:30] jakewilliami opened #77 "`makesheets` on examples failing"
[code]

[2020-07-09 18:55] canismarko commented on #77
I can't seem to reproduce this behavior. Mind checking a couple of things for me?

1) It looks like you're pulling from bacook17's fork. Mind pulling from my repo and checking again?

2) Running ``makesheets`` from inside the examples directory shouldn't be possible without first installing the package somehow. Make sure to run ``pip install -e dungeon-sheets/`` after the ``git clone ...`` command

[2020-07-10 13:20] jakewilliami commented on #77
Huh, I didn't realise I wasn't pulling from your repo—sorry about that!  The reason I was pulling from bacook17's clone was because the link in the README (line 66) to the examples directory leads to their clone.  Trying this with your repo, here is what I get:
[code]

I have already run `pip install dungeonsheets` as per the instructions for the [character sheet setup](https://github.com/michaelp

[2020-07-10 14:02] canismarko commented on #77
Ah, gotcha. I fixed the wrong link in the README. ``pip install
dungeonsheets`` pulls from the PyPI, so probably that was out of
date. I just uploaded a newer version (v0.10.2) to PyPI, so ``pip
install --upgrade dungeonsheets`` will hopefully get everything up to
date.

On Fri, Jul 10, 2020 at 06:21:01AM -0700, Jake Ireland wrote:

--

This message is signed with Pretty Good Privacy (PGP) key BE1

[2020-07-10 14:04] #77 closed

[2020-08-26 19:06] DanRoscigno opened #79 "Can you tell me how to format my equipment list please?"
Hi,
Thanks again for Dungeon Sheets.  I am really enjoying using it, and I am learning quite a bit about the DnD rules by working through this.  Here is how my equipment list looks now:

<img width="667" alt="image" src="https://user-images.githubusercontent.com/25182304/91345403-533bae00-e7ad-11ea-8270-62b78860a8ea.png">

I would like to be able to format it like the way you have the features (ri

[2020-08-27 01:23] DanRoscigno commented on #79
This does what I want:
[code]

Result:
<img width="337" alt="image" src="https://user-images.githubusercontent.com/25182304/91372692-4f764e80-e7e2-11ea-92b7-d92da5af71b4.png">

[2020-08-28 14:04] canismarko commented on #79
Great! I'll close this issue then. Cheers.

[2020-10-13 21:39] geckon opened #81 "Hand crossbow isn't defined"
I'm getting the following error while trying to add a hand crossbow to a character:
[code]

[2020-10-14 02:49] DanRoscigno commented on #81
@geckon in the Ranger 2 example this is how that crossbow is used:
[code]

Did you have a `crossbow, hand` in there?  Try it like above.

[2020-10-14 07:54] geckon commented on #81
You're right @DanRoscigno, if I use it in the `.py` file to generate sheet later, it works. I'm talking about the step-by-step process implemented in `create_character.py`. If you select the offered hand crossbow there, you'll get the traceback above.

[2020-10-21 05:49] pucknut2k1 opened #83 "Multiclass attribute override issues"
First of all, thank you for such a complete system, but I'm afraid my first test character was doomed to break it as all users tend to do.  So far, I've been able to correct a few of the issues, but I've been unable to figure these out.  I'm working with a Lizardfolk Bard 1 / Monk 1 here so don't feel bad about not expecting these triggers.

1.  Moderate issue:  When multiclassed into Monk, unarme

[2020-10-21 17:02] canismarko commented on #81
Thanks @DanRoscigno @geckon

[2020-10-21 17:02] #81 closed

[2020-10-21 17:06] canismarko commented on #83
Thanks for this detailed feedback. I should be able to do something about (2), and maybe when I have some time I'll look into (1) but it will probably be a little while.

Feel free to submit a PR for 3-5?

[2020-10-23 06:09] pucknut2k1 commented on #83
I have resolved issue 1 for multi-class Monk at this point, at least for everything I've tested against it so far.

Digging into issue 2, it looks to be an artifact of the form-fill on the blank-character-sheet-default.pdf but I haven't found a good .pdf editor yet (without access to Acrobat).  In line with issue 2, I would like to have more than 3 weapon options listed in the Attacks and Spellcas

[2020-10-23 17:58] canismarko opened #84 "Combine hit dice for multiclassing"
From @pucknut2k1: Not a significant issue, but Bard and Monk both use a 1d8 Hit Die. After Multiclassing, it lists as 1d8 + 1d8 rather than 2d8. I have not investigated this yet to see how difficult it would be to rectify.

[2020-10-23 18:00] canismarko commented on #83
Oh for some reason I had it in my head that (2) was about the LaTeX rendering. Yeah I tried digging into the PDF field flags once to enable rich text and got dizzy. Good luck with that one.

I made the hitdice thing a separate issue so it doesn't get lost in the comments.

I think you're right about the quarterstaff thing, though if I remember right those names get used in the character generator

[2020-10-25 09:01] geckon opened #85 "Add support for climbing speed"
Speed, swimming speed and flying speed are all supported by `monsters.py`. It would be nice to have also climbing speed there.

[2020-12-02 17:59] kompoth opened #88 "Ranger class is mentioned as a source of Figter's styles"
Despite FighterFightingStyle defines `source = 'Fighter'`, in the output pdf file 'Defense' Fighter's style is sourced from Ranger's class. Not sure if the 'source' field was intended this way.

[2020-12-08 20:34] canismarko commented on #88
Not sure, but thanks for letting me know. I'll take a look when I have some free time.

[2021-02-08 17:07] jonathanvanschenck opened #89 "Easy inclusion of homebrew spells, etc"
Love this repo!
Reading through the documentation, perhaps I missed something, but it doesn't seem like there is an easy way to include homebrew spells, features, classes, etc without actually changing the source code. It would be pretty cool if there was a cli option in `makesheets` where you could point to an external file containing additional spells that would get compiled in (perhaps even ove

[2021-02-08 19:46] canismarko commented on #89
Glad you like it. I actually thought there was a way to do this, but it looks like it got broken at some point. And yes, you're right in that it isn't documented.

My original plan was to define the homebrew spell (or item, etc.) in the character file itself, then to let it be included directly in the list of spells, something like this:

[code]

Would that work for you? I think the benefit there

[2021-02-08 21:53] jonathanvanschenck commented on #89
Oh, very cool. Yes, I could probably make do with relative imports `from my_homebrew import *` like geckon suggested. My thought with the CLI was that as a DM managing multiple games/NPC/PC, I could essentially create an environment for each of my games that has a homebrew folder, separate folders for each character, and then batch compile them all.
Thanks for the quick response!

[2021-02-09 19:35] canismarko commented on #89
Yeah, the star import should work with the idea I have in mind. Currently the one annoying part would be you get a handful of warnings because it tries to set each homebrew thing as an attribute on the character. Should be solvable with some type checking.

[2021-02-09 21:06] canismarko commented on #89
Ok, so I have a prototype for this working for homebrewed spells. Shouldn't be too difficult to extend it to other mechanics (weapons, infusions, etc). I do plan to spend a little bit of time first standardizing how the different mechanics are resolved so it's not a hodge-podge of complexity.

I think I will suppress the "Setting unknown character attribute" warning if the attribute starts with an

[2021-02-10 04:34] canismarko commented on #89
I got it added. Here's an example character file with the homebrew. You *should* also be able to have it in a separate file and import it into your character file. I'll write the documentation and bump the version soon.

https://github.com/canismarko/dungeon-sheets/blob/master/examples/homebrewelda.py

[2021-02-11 03:08] canismarko commented on #89
Documentation is done: https://dungeon-sheets.readthedocs.io/en/latest/character_files.html#homebrew

And I bumped the version and uploaded it to pypi.

I'm going to close this issue. If there's something I missed, or if this solution doesn't meet your use case and we need to revisit the ``--homebrew`` option, let me know.

[2021-02-11 03:08] #89 closed

[2021-02-11 03:10] #76 closed

[2021-02-11 17:20] jonathanvanschenck commented on #89
This is perfect! Thanks!

[2021-02-26 16:11] ale-rt commented on #75
LOL I had the same issue, this is what I came up with:
[code]

https://stackoverflow.com/a/66388344/646005

[2021-03-04 15:52] canismarko commented on #75
Thanks. Unfortunately, I don't have the bandwidth to work on this right now but hopefully that SO post will be useful when I (or someone else) do.

[2021-03-11 22:15] canismarko commented on #70
Once this gets done, make sure it fixes the bug identified in the PR: https://github.com/canismarko/dungeon-sheets/pull/90

[2021-04-05 22:00] canismarko opened #91 "Revivify doesn't show special_material"
Revivify takes 300 gp worth of diamonds, but doesn't give the right result for the ``special_material`` property.

[2021-04-16 16:37] canismarko commented on #70
I decided to rely on docutils and sphinx to parse the restructured text. This is done now: 01f3f0d15fe32acc17e2b7e191c80b3281fa74fb

[2021-04-16 16:37] #70 closed

[2021-04-16 16:42] canismarko commented on #22
It's been a year and no response on whether this still an issue. I'm going to close this for now. @johncalab if it's still a problem, feel free to reopen.

[2021-04-16 16:42] #22 closed

[2021-05-02 16:41] matsavage opened #92 "latex output"
Hey, I came across this package a while ago and was really impressed,

I spent a while working on a LaTeX character sheet template, and was wondering if you'd be interested in a PR to build outputs from your package for the template I built.

https://github.com/matsavage/DND-5e-LaTeX-Character-Sheet-Template

Can't figure out how to get in touch with you other than here.

[2021-05-03 16:18] canismarko commented on #92
Thanks for reaching out. Yeah, I'd definitely be interested, your character sheets look really nice.

One of the struggles I've had with the fillable-PDF route I'm using now is that I can't figure out how to get rich-text into the PDF fields, and this would be a fix to that, too: https://github.com/canismarko/dungeon-sheets/issues/3

For now, I think it's probably safest to add a new command line

[2021-06-04 15:51] #85 closed

[2021-06-07 16:32] canismarko opened #98 "Compatibility with foundry VTT export"
Dungeonsheets can import .json objects from foundry vtt, but they don't quite work properly in some edge cases. Here are the current problems.

- [x] "Enlarge/Reduce" does not map to "Enlargereduce" spell.
- [x] Sollys's Rival Intern background
- [x] Sollys's weapons imported from roll20 to foundry.
- [x] Handir's unarmed strike
- [x] Prepared spells (Phifarix)

[2021-06-12 18:29] canismarko commented on #98
Notes from Carla on Solly::

Skills:Sleight of hand should be +6 (+3 prof., +3 Dex)Weapons:Handaxe 1d6 slashingSpear 1d6 piercingLight crossbow 1d8 piercingFeatures:Arcane firearm: At 5th level, you know how to turn a wand, staff, or rod into an arcane firearm, a conduit for your destructive spells. When you finish a long rest, you can use woodcarver's tools to carve special sigils into a wand, st

[2021-06-14 03:08] #98 closed

[2021-06-16 19:17] matsavage commented on #92
@Tim-Jackins

[2021-06-16 19:32] Tim-Jackins commented on #92
Hello! I'm in the process of jinja-ifying the wonderful character sheet created by @matsavage so it can be rendered by this package.

[2021-06-16 19:32] DanRoscigno opened #99 "Homebrew: Cannot specify a weapon subclass"
I am trying to add a new weapon, and I would like to be able to mark it as a SimpleWeapon as my char is proficient with SimpleWeapons.  I tried the below, but it fails, and I cannot figure out how to include SimpleWeapon.  Is there a way to specify that a weapon is a simpleweapon?

[code]

[2021-06-16 19:34] matsavage commented on #92
I had the original intention of making it more like a LaTeX module, so each page could be dropped in like the monsterboxes etc in that PR I did for this project, unsure about adding dependences etc in LaTeX

[2021-06-16 19:43] DanRoscigno commented on #99
I was able to add the proficiency:
[code]

[2021-06-16 20:25] matsavage commented on #92
I believe that's already handled by the markdown syntax used in this library already

[2021-06-16 20:26] Tim-Jackins commented on #92
Thanks for the info. I really need to look more into this package...

[2021-06-20 03:01] #99 closed

[2021-06-20 03:02] canismarko commented on #99
Adding it to the proficiences is a good workaround. For future convenience, I added SimpleWeapon and a few others to the mechanics module.

[2021-06-21 02:01] canismarko commented on #92
Sorry for the slow response. Thanks for working on this. I was looking into ways to bundle the latex dependencies in with the package, but I couldn't find a way that doesn't involve actually installing them into texlive or whatever. If you have any ideas please let me know.

The ability to parse the rst into proper latex should be all there now (https://github.com/canismarko/dungeon-sheets/issues/

[2021-07-11 17:48] #91 closed

[2021-07-16 23:01] bw-mutley opened #101 "Magic Itens don't add Saving Throws bonuses"
Magic itens like Ring of Protection gives Saving Throw bonuses but dungeon-sheets does not register them. I've fixed it locally by including a st_bonus attribute for items with this property and modifying the Ability class in the same way it is done for AC bonus:

[code]

[2021-07-17 01:10] bw-mutley commented on #92
Hi there, I just want to know the state of the art regarding this. @Tim-Jackins , please let me know if you have a template running already. I've already decided to start using this template on my own sheets - it is really beautiful by the way - and I am willing to provide any help if needed. The character sheet part is straighfoward to adapt, I just see the spells list part would have to be worke

[2021-07-17 08:17] matsavage commented on #92
@canismarko sorry this is coming slow, I totally missed that comment from about 3 weeks ago. This point was where I sort of got stuck on this too, I think the options are either:
* Make the character sheets a tex package and upload them to cran, which I'm not sure how to do etc
* Package the character sheet up in the same way as has been done for dungeon-sheets and require installation in texmf
*

[2021-07-21 22:22] canismarko opened #102 "Clean up portrait handling"
@vincentmalloy added the ability to include character portraits. There's a few things to improve when there's time:

- Allow other file extensions (and maybe even specific filenames)
- Make sure it plays well with other image dimensions.
- Include portraits in the new epub output.

[2021-07-22 01:55] canismarko commented on #92
If you can make the last option work, I think that would be the easiest for people using dungeonsheets since there's no need to worry about texmf or installing extra latex packages. I tried this with the D&D latex template (https://github.com/rpgtex/DND-5e-LaTeX-Template#project-install-using-texinputs), though and couldn't get it to work.

[2021-07-22 09:26] matsavage commented on #92
I'll try and have a look over the weekend with the submodule route, I think something just needs to be done with working directories or environment variables

On a linux environment with the DND template installed in `examples/DND-5e-LaTeX-Template` the following command worked for me:
`TEXINPUTS=".:./DND-5e-LaTeX-Template:$TEXINPUTS" pdflatex wizard2_features.tex`

Therefore I think the following

[2021-07-22 13:06] Tim-Jackins commented on #92
@bw-mutley My template is unfinished. I'm hoping to finish the back story page soon but work has picked up. I think the backstory page I have so far is enough for you to get started, check it out [here](https://github.com/Tim-Jackins/DND-5e-LaTeX-Character-Sheet-Template/blob/backstory-page/characters/dagmar.tex). Let me know if you have more questions and I'll try to be more prompt with my reply!

[2021-07-22 13:19] matsavage commented on #92
@canismarko I got this working in the following PR, can you validate that it works, then adding my page as a submodule will also be really easy

https://github.com/canismarko/dungeon-sheets/pull/103

[2021-07-26 14:42] canismarko opened #104 "Clean up the licensing"
Some of the content (everything from the SRD) is covered under the open gaming license, not the GPL. We should include both and indicate which file is covered by which license.

[2021-07-27 15:55] Tim-Jackins commented on #92
@bw-mutley My template is finished and can be found [here](https://github.com/Tim-Jackins/DND-5e-LaTeX-Character-Sheet-Template/blob/backstory-page/characters/dagmar.pdf)

[2021-07-28 01:53] bw-mutley commented on #92
Hi @Tim-Jackins , thanks for the reply. The link you provided is going to a non-Jinjafied template (dagmar.tex), is that correct? Should I work from there? (no problem at all...)

[2021-07-28 02:53] Tim-Jackins commented on #92
@bw-mutley Sorry for the confusion! Yes the template is not jinja-fied I just finished the page rendering in xelatex. I'm happy to do the jinja-fication but my schedule is busy if you think you can do it sooner.

[2021-08-05 19:48] canismarko commented on #92
Thanks, everyone, and thanks for your patience with my slow reply times (I've been working 16 hour shifts 7 days per week at work recently). I got @matsavage's PR merged, with a small tweak. I bumped the version to 0.16.1 and verified that a pip install (from pypi) into a clean conda environment will build with the ``-F`` flag. Looking forward to seeing if the character sheets can work this way to

[2021-08-05 21:44] bw-mutley commented on #92
hi there @canismarko , this merge mean @matsavage 's template is already working with dungeonsheets? I was jinjafying it last night, I am half way through. Also, in the process of reading the code, I've came with some enhancement proposals related to the way the sheet is rendered. I am just unsure where should I touch, as it would mean to change some basic classes like the character class. As an o

[2021-08-05 21:57] matsavage commented on #92
@bw-mutley it means I have to approve @Tim-Jackins changes to my repo to include the middle character sheet page, and then raise a PR to include it in this repo, alongside your jinja template or if you raise a PR to your template I can add the work for the submodule in there.

Maybe best to just have one PR for the templates and then another to fix those other changes you have found? I’m sure ther

[2021-08-05 22:02] matsavage commented on #92
I may be getting ahead of things, but I sort of envisage 3 output modes:

* pdftk of the form fillable pdf
* LaTeX in black and white with plain background
* LaTeX in colour with paper background

With a flag for with/without features pages for the final 2 options.

Would also be great to get character templates in the latex version

[2021-08-05 22:21] bw-mutley commented on #92
Thanks, for the reply, Mat. I was a bit lost about the best approach since I would need to bridge the works of you and Mark. I will do the following:

1. Finish the jinjafyied version of your template;
2. Write a compatibility module to use it with dungeonsheets;
3. PR them to your repo;
4. Work on dungeonsheets fixes along the way and PR later;
5. Write a final version of changes in dungeonsheets

[2021-08-05 22:37] matsavage commented on #92
@bw-mutley i think 3 should be a PR against this repo, but that we’ll both have something to contribute to it, so maybe you’ll have fork this repo, add the jinja template, then I can raise a PR to add the template import then you raise a PR here with both of our changes?

github seems to make this harder because of user permissions?

[2021-08-05 22:42] matsavage commented on #92
@bw-mutley or you could just follow the outline here to pull my sheets into this project, that’s all I was going to do

https://github.com/canismarko/dungeon-sheets/pull/103

[2021-08-05 23:03] bw-mutley commented on #92
Hey Mat, I think github makes things easier, it is just me who must to get along :)

Thats what I was trying to do, but since you added this suggestion, I guess I didn't understood well.

I will follow this option then, seens more clear to me. In this case I would add the changes to the fork I've made to this repo and wait for you to raise the PR before adding my last two changes, did I get it rig

[2021-08-05 23:18] matsavage commented on #92
@bw-mutley sounds good. Let me know when you’re done and I’ll get to it 👍

[2021-08-06 02:36] #101 closed

[2021-08-06 02:38] canismarko commented on #101
Thanks for submitting this issue and including a way to fix it. I fixed the master branch, but haven't updated PyPI yet.

It occurred to me that this is all or nothing: you can't have a magic item that, for example, grants +1 to strength saving throws only. I'm not sure if that's a problem or not. @bw-mutley: are you aware of any magic items that grant bonuses to only some saving throws?

[2021-08-06 13:37] bw-mutley commented on #101
Hi there, @canismarko , I am glad to be of help.

I use only Tasha's and DMG in my sessions, and don't recall of any items wich would add only to a specific saving throw. But I'm aware of many magic items which add to DC dificult of spellcasters. Anyway, a more flexible approach to this problem would be to add a _magic_items_bonuses method to Character class which would parse them all.

Maybe it i

[2021-08-07 14:49] matsavage commented on #92
@bw-mutley I have gotten quite a lot of the way along with this today, the main work being converting my latex template to be a class so that it can be imported properly, I am still coming across a couple of issues, namely:
* The custom font I am using is causing a pain because of paths
* There is an element of the first page text input which is giving the following error when compiling though pyt

[2021-08-07 20:52] canismarko commented on #101
I think we'll eventually need some property on the magic item itself that gets called at the right time. Something like Amulet of the Devout from Tasha's seems like it needs even more flexibility than ``_magic_item_bonuses`` could provide.M'kay. I'm going to open a new issue for this.

[2021-08-07 20:58] canismarko opened #105 "More flexible interface for magic item bonuses"
Follow up to https://github.com/canismarko/dungeon-sheets/issues/101

Need a way to specify:

- Saving throw bonuses on a per-ability basis
- Spellcasting DC bonus
- Spellcasting attack bonus

Possible ways to do this:

- Create a ``Character._magic_item_bonuses`` method that parses the magic items and figures out the bonuses.
- Make properties (or mabye even methods) on the MagicItem class for ea

[2021-08-07 21:33] bw-mutley commented on #92
hi there, @matsavage . I was circunventing this path problem using `os.chdir` to your template directory just before compilation. I don't think there will be repeated work, it won't be hard to adapt to your new files.

[2021-08-08 18:23] #84 closed

[2021-08-09 22:08] bw-mutley commented on #75
I've just made a PR to use @matsavage latex package, take a look when you can.

[2021-08-10 15:02] #37 closed

[2021-08-17 16:39] canismarko opened #108 "Restore automated tests"
I ran out of credits on travis, so tests have not been run automatically for several months. Maybe switch to github actions or something like that?

[2021-08-23 21:35] canismarko opened #109 "Putting a homebrew weapon in magic_items is not resolvable by the content resolver"

[2021-09-04 18:57] pingurus opened #111 "Weapons used by monsters are not listed in their weapons list"
I use dungeonsheets as a base to my dungeonstorybook project and noticed that the weapons wielded by monsters are listed in their docstrings and not in their weapon list. The spells also are double-listed, while missing the `spell_slots` (See for example the lich).

Is this intentional? In my use-case it would be useful if the weapons and skills would be listed just as they would be for a characte

[2021-09-06 18:29] canismarko commented on #111
Glad to hear it's useful. You must be outputting to epub then, right? AFAIK, the duplicated spell list is only there in the epub output.

The first spell list comes from the "spellcasting" description which has spell slots and mirrors that found in the monster manual stat blocks. I added the second spell list so that I can make them links to the spell descriptions for quick reference when running

[2021-09-06 23:03] bw-mutley opened #112 "NameError in `content_registry.ContentRegistry`"
I've found this after trying to include a "Mace +1" to one of my PC sheet. Follow up the Trace back, it breaks here:

Lines 139 ~ 145 of `content_registry.py` reads:
[code]
But neither `weapons` or `armor` modules ain't imported.

===EDIT===
As far as I can see, the `if`can be dropped without harm:
if `attr.improved_version` is not defined, it will raise an error, so the user can correct the input

[2021-09-07 07:34] pingurus commented on #111
No, I output it into html using my own rst generator. I do it that way so I can comfortably link from other hand-written rst files to the automatically generated files. I may be duplicating code by doing that though.

If I understand your intention correctly, yes. (I assume your first spell list is the one in the docstring and the second one is the one in the "spells" attribute, which I want to us

[2021-09-07 16:59] canismarko commented on #112
Yeah it used to be that the content registry added each module, but now each module adds itself so they're not all imported anymore. I think you're right that it can be dropped, the only time that would break is if somehow you had a "+1" item that wasn't a weapon/armor/shield. Maybe you called your homebrew item "amulet of health +2", but that can be guarded against with a call to ``hasattr``:
[co

[2021-09-08 01:11] #112 closed

[2021-09-08 14:14] bw-mutley commented on #112
Thanks for that!

[2021-09-23 19:24] bw-mutley opened #113 "GM Notes failing with `fancy_decorations=True`"
Tried to run the following code, using `gm-session-notes.py` avaiable in the `/examples` folder:
[code]

Resulted:

[code]

Found the generated .tex file is closing a supertabular environments with `\end{DndTable}`.

Proceding further, found line 210 of `latex.py` to be:
[code]
Seens like the string being replaced is wrong, with an extra `"[c]"`. Output ok after removing it. Is there a reason for

[2021-10-01 02:15] canismarko commented on #113
Weird, it actually fails on my computer when I remove the "[c]". I've just pushed a change that replaces both versions, so will you try than let me know if it fixes the problem for you?

[2021-10-01 02:43] canismarko commented on #92
Sorry for the delay. I finally had time to look at @bw-mutley's PR. Thanks for all the hard work. I added a command line option "-T" to use the template. I actually can't use the template on my computer since I don't have Kalam font installed, but since it gets to that point I'm assuming the rest of it works okay.

[2021-10-01 20:31] bw-mutley commented on #113
Ok, I will update my fork and my local dungeonsheets and let you know.

[2021-10-01 20:33] bw-mutley commented on #92
Glad to be of help!

[2021-10-01 20:53] matsavage commented on #92
That Kalam font issue is a path problem, I’ve included it in my repo but couldn’t get it working when I had my repo included as a submodule. Not 100% sure on what to do to solve this problem, I like the sheet text to be a handwriting font, but all of the ones included in latex aren’t the nicest.

Sent from my iPhone

[2021-10-27 15:30] plsaddbloodhunter opened #116 "can't add class"
Hi, i managed to code the script for a class, i was wandering how i could put it in the program, since i can't find a way in wiky.
Pls help me. Thank you very much in advance.
Have a nice day.

[2021-10-28 15:51] #116 closed, assigned to nobody

[2022-01-02 17:28] bw-mutley commented on #113
Sorry for the (very) late update on this. Current version (updated nov 29) is ok.

[2022-01-02 17:28] #113 closed

[2022-01-02 17:42] bw-mutley opened #121 "Enhancement proposal: companions and summonable creatures"
Hi there, Mark. I got some days to work on this project, so I thought about some improvements. One of them is to include a compiled list of companions and summonable creatures in a similar way it is done to druid shapes. It would be a matter of including a few lines to `make_sheets.py`.
Also, I would like to ask you which issues are real priorities, it seens like the issues list is not updated. Le

[2022-01-03 01:52] canismarko commented on #121
That sounds great! And I agree, should be straightforward.

#88 could use a fix. #102 would be good, but I don't know if it gets used much. I really would like to get #75, but I don't know if a solution to that one exists.

Thanks for your efforts.

[2022-01-03 18:33] bw-mutley commented on #88
It seens to be fixed. Tested with tex template and pdftk, could not reproduce it.

[2022-01-06 15:40] canismarko commented on #88
Sounds good. I'm going to close this. @kompoth: feel free to re-open if you have steps to reproduce this.

[2022-01-06 15:40] #88 closed

[2022-02-04 16:42] bw-mutley commented on #121
Hi Mark, I've just made 4 pull requests - sorry if it is 'messy', I don't know how to make just a single one since the changes were in different folders. I've included a small report of changes in one of the commits. I've tested them using .tex and .html forms, but not epub. Let me know if any issues.

[2022-02-05 22:20] bw-mutley commented on #109
Hi Mark, I was trying to address this issue, but couldn't figure exactly what was the intended behaviour. What I normally do when I add magic items to a character sheet is to list their name (if it is on `magic_items.py`) or an instance when importing using `import_homebrew`. Also, when I use homebrewed magic items I include only magic_item as a superclass. Following this procedure I achieved what

[2022-03-10 14:44] canismarko commented on #109
Hi, @bw-mutley.

Yeah those methods both work. I think the option I had in mind was importing using ``import_homebrew`` then listing the name as a string::

**homebrew.py**

**character.py**

It tripped me up a few times. This "bug" doesn't really limit what you can do, but does indicate that something isn't working how I think it is when resolving content.

[2022-03-10 14:46] canismarko commented on #121
@bw-mutley yeah we just had a baby so things have been hectic. Can you let me know which of the 4 PR's I should look at? I can work on it while baby is napping on me at some point.

Thanks!

[2022-03-10 14:49] canismarko opened #126 "allow multiclassing of magic weapons"
Currently, weapons can either subclass from ``mechanics.Weapon`` or ``mechanics.MagicItem`` but not both. This means for a magic weapon you need two separate classes: 1 as a magic item and 1 as a weapon. It would be nice to allow multi-classing so it can be included in both lists:

[2022-03-10 16:43] bw-mutley commented on #121
Hey Mark! Congratulations for the baby!
As for the pull requests: I did it wrong, there were changes in 4 folders and I didn't know how to proceed so ended making 4 requests. I guess we can cancel and I pull a single one including other things I've done after this one. Let me know what is best and I will organize things here.

[2022-03-10 20:26] canismarko commented on #121
Thanks!

I'd prefer to have 1 PR, thanks.

[2022-03-10 20:29] canismarko commented on #126
Fixed in c9a0eb1f0e843bcdf54e81e7ed8dae071783460d and 4691e154fd05a9fc7b49e8f1f985f766cff8b826

[2022-03-10 20:29] #126 closed

[2022-07-09 00:39] canismarko commented on #108
Fix: https://github.com/canismarko/dungeon-sheets/pull/130

[2022-07-09 00:39] #108 closed

[2022-07-27 14:12] kompoth opened #134 "Specifying Bloodhunter's Patron"
I am trying to generate a Bloodhunter of the Order of the Profane Soul and can't figure out how to select a Patron. I see that patron option is a FeatureSelector, just like a Fighting Style, so it seemed logical that patron should be specified the same way:
[code]
This works for Archery, but the Undying still is unspecified in the resulting character sheet. Also tried other options like 'Fiend' (u

[2022-07-27 16:17] canismarko commented on #134
Hi, there.

Try putting the patron in the subclasses list: ``subclasses = ["Order of the Profane Soul", "Undying"]``

This is how warlocks handle patron features: https://github.com/canismarko/dungeon-sheets/blob/master/examples/warlock1.py

I haven't tested it with Bloodhunters, so please let me know if that works.

[2022-07-27 16:30] kompoth commented on #134
Thank you for quick response!

Yes, I tried this and got an exception: class and subclass lists must have
equal sizes, here - character.py:258

ср, 27 июл. 2022 г., 19:17 Mark Wolfman ***@***.***>:

[2022-07-28 15:34] canismarko commented on #134
Ah, yeah I think I understand the problem.

Patrons were initially included for Warlocks, and apparently the subclasses became the Patrons, but I think this is incorrect. I think Pact Boon is actually what it should be since it occurs at lvl 3 just like all the other classes. If we made the patron at feature choice like you selected then Pact of the Whatever became the subclass, I think it would a

[2022-09-06 14:21] canismarko commented on #134
Note to self: make sure to include spells and damage resistances from https://github.com/canismarko/dungeon-sheets/pull/135

[2022-10-16 17:28] kloetzl opened #136 "Lucky"
There are two features called `lucky`. One is the Halfling's luck the other is the feat with the three luck points. This is an unfortunate name clash. I think it is easier to rename the Halfling's luck as that is not usually added manually to a character.

[2022-11-10 16:03] canismarko commented on #136
@kloetzl Thanks for submitting this. I agree it's an issue. A recent PR (https://github.com/canismarko/dungeon-sheets/pull/139) fixed this for a different name clash between features.

I think your suggestion of renaming the Halfling's luck ("HalflingLuck"?) is a good choice. Are you interesting in preparing a PR?

[2022-11-11 20:12] kloetzl commented on #136
Sure, I'll go ahead and create a PR.